.App {
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  margin: 20px 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

li span {
  padding: 8px;
}

li button {
  background: red;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

li.done {
  border: 2px solid green;
}

li.not-done {
  border: 2px solid red;
}

input[type="text"] {
  padding: 10px;
  width: 50%;
  margin: 5px;
}

button, input[type="submit"]{
  padding: 10px;
  background: black;
  color: white;
  cursor: pointer;
  border: 1px solid black;

}